.about .content{
  display: inline-flex;
  justify-content: space-between;
  overflow: hidden;
  width: 675px;
}
.about .LV-content{
  float: left;
  width: 19.5%;
}
.about .LV-content-top{
  width: 100%;
  text-align: center;
}
.about .LV-content-top>img{
  height: 160px;
}
.about .LV-content-footer{
  margin-top: 5px;
  width: 100%;
  text-align: center;
}
.about .LV-content-footer>p{
  padding-left: 10px;
  padding-right: 10px;
}
.about .LV-content-footer>p>.span-left{
  color: #37a;
  font-size: 13px;
  margin-right: 10px;
}
.about .LV-content-footer>p>.span-right{
  color: #e09015;
  font-size: 13px;
}