
.content{
  width: 1040px;
  margin: 0 auto;
}
h1{
  color: black;
}
ul,li{
  list-style: none;
  color: grey;
}
ul{
  width: 675px;
}
li{
  margin-right:20px; 
  display: inline-block;
  font-size: 14px;
}
.xian{
 width: 675px;
 border-bottom:1px solid grey;
}
.tool{
  width: 675px;
}
.sort{
  float: left
}
.check{
  float:right;
}

.list-wp{
  width: 675px;
}
.list{
  width: 700px;
  margin-top: 50px;
}
.item{
  width: 115px;
  text-align: center;
  margin: 0 25px 10px 0;
  font-size:13px;
  float: left;
  display: block;
}
.item img{
  width: 100%;
}
.cover-wp{
  background-size: 100%;
  height: 161px;
}